{% extends "base.html" %}
{% block content %}
	<table border="1">
		<thead>
			<tr>
				<td>Movie Name</td>
				<td>Movie Poster</td>
				<td>Avg. Ratings</td>
				<td>Reviews Count</td>
			</tr>
		</thead>
		<tbody>
			{% for movie in movies %}
			<tr onclick="window.location.href='/movie/{{movie.id}}/review/'" style="cursor:pointer;">
				<td><img src="/media/{{ movie.poster }}"/></td>
				<td>{{ movie.name }}</td>
				<td>{% if movie.avg_ratings %}{{ movie.avg_ratings }}/5{%else%}No Ratings Yet{% endif %}</td>
				<td>{{ movie.reviews_count }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="pagination">
	    <span class="step-links">
	        {% if movies.has_previous %}
	            <a href="?page={{ movies.previous_page_number }}">&#60;&nbsp;Previous</a>
	        {% endif %}

	        <span class="current">
	            Page {{ movies.number }} of {{ movies.paginator.num_pages }}.
	        </span>

	        {% if movies.has_next %}
	            <a href="?page={{ movies.next_page_number }}">Next&nbsp;&#62;</a>
	        {% endif %}
	    </span>
	</div>
{% endblock content %}